.slider-box {
  width: 1280 px;
  height: auto;
  margin: 50 px auto 0;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: carrusel 15s infinite alternate ease-in-out;
}

.slider-box li {
  margin-top: 50px;
  width: 100%;
  list-style: none;
  position: relative;
}



@keyframes carrusel{
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  85% {margin-left: -300%;}

  90% {margin-left: -400%;}
  100% {margin-left: -400%;}
}

@media (max-width: 430px) {
  .slider-box {
    width: 100%; 
    margin: 0 auto; 
    overflow-x: scroll; 
  }

  .slider-box ul {
    display: flex;
    padding: 0;
    width: 1000%; 
  }

  .slider-box li {
    margin-top: 0; 
    margin-right: 10px; 
    width: auto; 
  }

  .slider-box img {
    width: 100%; 
    height: auto; 
  }
}
