.principal {
  background: black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: cambio-color;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;

  &__logo {
    width: 150px;
    height: 100px;
  }
  &__menu {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
  }
  &.principal ul li {
    display: inline-block;
    padding: 0 20px;
  }
  &.principal a:hover {
    color: #03045e;
  }

  @keyframes cambio-color {
    0% {
      background: black;
    }
    25% {
      background: #ffbe0b;
    }
    50% {
      background: #fb5607;
    }

    75% {
      background: #3a86ff;
    }
  }
}
@media (max-width: 430px) {
  .principal {
    display: flex;
    text-align: center;
    padding: 20px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .principal__menu {
    font-size: 20px;
  }

  .principal ul li {
    display: block;
    padding: 10px 0;
  }

  .principal a:hover {
    color: inherit;
  }
}
