* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .fondo-principal {
    background-color: #1b263b; 
}
.fondo-galeria{
    background-color: #457b9d
    
}

.fondo-noticias{
    background-color:#e743b6 ;
}

.fondo-contacto{
    background-color: #adb5bd;
    color: white;
    font-family: "Quicksand", sans-serif;
   
}